.card-deck {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

.card {
    width: 220px;
    margin: 10px;
}

.text-muted {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.text-muted .btnedit {
    color: #0d6efd;
    cursor: pointer;
}

.text-muted .btndelete {
    color: red;

}