.containerAbout {
	display: flex;
	justify-content: center;
}

.liItem {
	display: block;
	width: 346px;
	line-height: 459px;
	text-decoration: none;
	text-align: left;
	padding-left: 30px;
	padding-top: 15px;
	margin: 10px;
    border-radius: 10px;
    font-family: Avenir;
	font-weight: 600;
	font-size: 15px;
	line-height: 160%;
	color: #566573;
	background-color: #ffffff;
	box-shadow: 7px 8px 9px #000000;
}

.item__photo {
	width:	300px;
}

.item__photo3{
	width: 340px;
}